@model Coreblog.Controllers.Class1
@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3 Api >Personel Günecelleme Sayfası</h3>

<form  method="post">
    <label>#</label>
    @Html.TextBoxFor(x=>x.ID, new {@class="form-control" }) 
    <br />
    <label>Adı</label>
    @Html.TextBoxFor(x=>x.Name, new {@class="form-control" })
    <br />
    <button class="btn btn-outline-info">Güncelle</button>

</form>