@using EntityLayer.Concrete
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrete.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-success" >
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Pasif Yap</th>
        <th>Aktif Yap</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td><a href="/Admin/Category/CategoryDelete/@item.CategoryID" id="DeleteBtn" onclick="return confirm('Silmek istediğinize eminmisiniz')" class="btn btn-info btn-sm">Pasif Yap</a></td>
            <td><a  href="/Category/CategoryDelete/@item.CategoryID" class="btn btn-success btn-sm">Aktif Yap</a></td>
            <td><a href="#" class="btn btn-danger btn-sm">Düzenle</a></td>
            <td></td>
        </tr>
    }
</table>
<br />
<a href="#" class="btn btn-primary ">Yeni Kategori</a>
<br />
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new {page }))
